# TODO reference default text editing UI
alias sli='"/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl" -n'
alias slim='"/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl"'
alias sli.="sli ."

alias dsk='pushd ~/Desktop'

alias py="python3"
alias py2="python2"

alias g='git'
alias gc='git checkout'
alias gs='git status'
alias gb='git branch'
alias gr='git remote'
alias grv='git remote -v'
alias gl='git log'
alias gd='git diff'
alias gacm='git acm'
alias graph="git log --graph --pretty='%h %<(10,trunc)%an   %<(30,trunc)%s'"


alias gocmd='pushd $COMMANDDIR'
alias golist='pushd $LISTDIR'
alias goami="pushd ~/Projects/amigurumi/ami-backup"

alias gosync="pushd $SYNCROOT"
alias goshconf="pushd $SHELLCONFIGDIR"

# TODO
alias p8export='/Users/nathandunn/Projects/trijam-automation/venv/bin/python /Users/nathandunn/Projects/trijam-automation/run.py'
alias godream='pushd ~/Documents/Random\ Documents/Dreams'
alias gofin="pushd /Users/nathandunn/Documents/Finances"
alias gojam='pushd /Users/nathandunn/Projects/pico8-games/raw'
alias gonotes='pushd /Users/nathandunn/Documents/Random\ Documents/Notes'
